<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/authors"><h4>List of authors</h4></a><a href="/books"><h4>List of books</h4></a><br>
    <h3>Enter new info:</h3>

    <form class="" action="/authors" method="post">
      <input type="text" name="name" placeholder="name">
      <input type="integer" name="age" placeholder="age">
      <input type="submit" value="submit">
    </form>

  </body>
</html>
