<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Library</h2>
    <h3>List of books</h3>
    <a href="/books/add">Add a new book</a>
    <br>

    <ul>
    <% for(book of books){ %>
      <h4>TITLE: <%=book.title%></h4></a>
      <p>AUTHOR: <%=author.name%></p>
      <form action="/books/<%=book.id%>/edit">
           <input type="submit" value="Edit book info" />
      </form>
      <form method="POST" action="/books/<%=book.id%>?_method=DELETE">
           <button type="submit">Remove book</button>
      </form>
    <% } %>
  </ul>
  </body>
</html>
