<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Library</h2>
    <a href="/authors"><h4>List of authors</h4></a><a href="/books"><h4>List of books</h4></a>
    <form method="GET" action="/books/create">
      <button type="submit">Add a new book</button>
    </form>
    <br>

    <ul>
    <% for(book of books){ %>
      <h4>TITLE: <%=book.title%></h4></a>
      <p>AUTHOR: <%=author.name%></p>
      <form action="/books/<%=book.id%>/edit">
           <input type="submit" value="Edit book info" />
      </form>
      <form method="POST" action="/books/<%=book.id%>?_method=DELETE">
           <button type="submit">Remove book</button>
      </form>
    <% } %>
  </ul>
  </body>
</html>
